<div class="account-info">
    <!-- Rectangle -->
    <div class="rectangle">
      <div class="name" id="name-info">Name</div>
      <div class="address" id="address-info">Address</div>
    </div>
  
    <!-- Container for squares -->
    <div class="squares">
      <div class="square">
        <div class="label">DOT</div>
        <div class="value" id="balance-free-DOT-info">Balance free DOT</div>
        <div class="value" id="balance-reserved-DOT-info">Balance reserved DOT</div>
      </div>
      <div class="square">
        <div class="label">USDT</div>
        <div class="value" id="balance-USDT-info">Balance USDT</div>
      </div>
      <div class="square">
        <div class="label">USDC</div>
        <div class="value" id="balance-USDC-info">Balance USDC</div>
      </div>
      <div class="square">
        <div class="label">HOLLAR</div>
        <div class="value" id="balance-HOLLAR-info">Coming soon</div>
      </div>
    </div>
</div>

<!-- Liquidate account button -->
<button class="button-liquidate" id="button-liquidate">Transfer All</button>

<!-- Liquidate account box -->
  <div class="liquidate-box" id="liquidate-box">
    <h2 class="lb-title">Transfer All Funds</h2>
    <hr class="lb-divider">
    <input class="lb-input" type="text" id="lb-input-recipient" spellcheck="false" autocomplete="off" placeholder="Enter recipient Polkadot address">
    
    <div class="lb-button-row">
      <button class="lb-button-cancel" id="lb-button-cancel">Cancel</button>
      <button class="lb-button-transfer" id="lb-button-transfer">Transfer</button>
    </div>
  </div>