<div class="account-info">
    <!-- Rectangle -->
    <div class="rectangle">
      <div class="name" id="name-info">Name</div>
      <div class="address" id="address-info">Address</div>
    </div>
  
    <!-- Container for squares -->
    <div class="squares">
      <div class="square">
        <div class="label">DOT</div>
        <div class="value" id="balance-free-DOT-info">Balance free DOT</div>
        <div class="value" id="balance-reserved-DOT-info">Balance reserved DOT</div>
      </div>
      <div class="square">
        <div class="label">USDT</div>
        <div class="value" id="balance-USDT-info">Balance USDT</div>
      </div>
      <div class="square">
        <div class="label">USDC</div>
        <div class="value" id="balance-USDC-info">Balance USDC</div>
      </div>
    </div>
</div>
