<div class="sp-blue-panel">
  <div class="input-group">
    <input type="text" id="destination-wallet" placeholder="Enter beneficiary Polkadot address" spellcheck="false" autocomplete="off">
  </div>
  <div class="input-group">
    <input type="number" id="amount" placeholder="Enter amount" min="0">
  </div>
  <div class="balance-display" id="balance-display">Balance free:</div>
  <div class="select-group">
    <label for="currency">Currency:</label>
    <select id="currency">
      <option value="DOT">DOT</option>
      <option value="USDT">USDT</option>
      <option value="USDC">USDC</option>
      <option value="DAI">DAI</option>
    </select>
  </div>
  <div class="sp-button-container">
    <button class="button-send" id="button-single-payment">Pay</button>
    <button class="aux-connect" id="aux-connect-1">Connect Wallet</button>
  </div>
</div>